[submodule "lesson2/exercise/exercise17"]
	path = lesson2/exercise/exercise17
	url = git@github.com:Yatoo2018/exercise17.git
[submodule "lesson1/exercise/exercise1"]
	path = lesson1/exercise/exercise1
	url = git@github.com:Yatoo2018/Mocha-start.git
[submodule "lesson1/exercise/exercise2"]
	path = lesson1/exercise/exercise2
	url = git@github.com:Yatoo2018/Mocha-exercise.git
[submodule "lesson1/exercise/exercise3"]
	path = lesson1/exercise/exercise3
	url = git@github.com:Yatoo2018/Karam-exercise.git
[submodule "Yatoo"]
	path = Yatoo
	url = git@github.com:Yatoo2018/Yatoo.git
[submodule "utils"]
	path = utils
	url = git@github.com:Yatoo2018/utils.git
[submodule "lesson1/homework"]
	path = lesson1/homework
	url = git@github.com:Yatoo2018/lesson-one-homework.git
[submodule "lesson3/exercise/exercise4"]
	path = lesson3/exercise/exercise4
	url = git@github.com:Yatoo2018/Know-This-exercise4.git
[submodule "lesson3/exercise/exercise5"]
	path = lesson3/exercise/exercise5
	url = git@github.com:Yatoo2018/execrise5.git
[submodule "showcase/showcase3"]
	path = showcase/showcase3
	url = git@github.com:honeybeer/showcase3.git
[submodule "lesson3/homework"]
	path = lesson3/homework
	url = git@github.com:honeybeer/homework2.git
[submodule "lesson4/homework"]
	path = lesson4/homework
	url = git@github.com:Yatoo2018/homework7.git
[submodule "lesson4/exercise/RegExp-exercise5"]
	path = lesson4/exercise/RegExp-exercise5
	url = git@github.com:Yatoo2018/RegExp-exercise5.git
[submodule "lesson4/exercise/RegExp-exercise6"]
	path = lesson4/exercise/RegExp-exercise6
	url = git@github.com:Yatoo2018/RegExp-exercise6.git
[submodule "lesson4/exercise/RegExp-exercise7"]
	path = lesson4/exercise/RegExp-exercise7
	url = git@github.com:Yatoo2018/RegExp-exercise7.git
